.wp-block-wcgdynia-hero {
  > .hero-wrapper
    > .block-editor-inner-blocks
    > .block-editor-block-list__layout {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 50px;

    [data-type="wcgdynia/content-section"] {
      flex: 1;
    }

    [data-type="wcgdynia/image-section"] {
      flex: 0.9;
    }
  }

  [data-type="core/image"] {
    margin-bottom: 0;
  }

  [data-type="core/heading"] {
    margin-top: 0;
  }
}
